<ul>
  <li>Name: <%= @player.name %></li>
  <li>Rating: <%= @player.elo.rating.to_i %><% if @player.elo.provisional %>*<% end %></li>
  <li>Wins: <%= @player.win_count %>
  <li>Losses: <%= @player.loss_count %>
  <ul>
    <% @elos.each do |elo| %>
      <li><%= elo[:elo].rating %> <% if elo[:won] %>Won<% end %><% if !elo[:won] %>Lost to<% end %> <%= elo[:opponent].player.name %> (<%= elo[:opponent].rating %>)</li>
    <% end %>
  </ul>
</ul>
